:root{
    /* FONT SIZES */
    
    /* COLORS */
    --primaryColor: rgba(40,2,57,1); /* Main Purple */
    --secondaryColor: rgba(99,191,226,1); /* Blue */
    --thirdColor: rgba(255,255,255,1); /* White */
}

/* IMPORT FONTS */

/* DEFAULTS (Color Text, Size Text and more) */

/* NAVBAR */


/* FOOTER */

/* MEDIA QUERIES */
/*  Device = Tablets, Ipads (portrait) Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {

}

/*  Device = Tablets, Ipads (landscape) Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
}

/* Device = Low Resolution Tablets, Mobiles (Landscape) Screen = B/w 481px to 767px */
@media (min-width: 575px) and (max-width: 768px) {
    
}

/* Device = Most of the Smartphones Mobiles (Portrait) Screen = B/w 320px to 479px */
@media (min-width: 320px) and (max-width: 575px) {
    
}