<section class="container">
    <div class="container d-flex">
        <div class="row pt-5 mt-5">
            <div class="col-md-7 mt-5 pt-5 px-5">
                <div class="mt-5 pt-5 container pl-0">
                    <p class="text-left" style="font-size: 20px;">
                        El mobiliario dentro de un espacio laboral o escolar es muy importante para ofrecer comodidad y funcionalidad a los miembros de cada comunidad.
                    </p>
                    <p class="text-left" style="font-size: 20px;">
                        Al mismo tiempo, debe ayudar a reforzar la imagen de cada institución o empresa. Asegúrate de tener las mejores opciones y asesórate acerca de los modelos más funcionales para cada espacio dentro de tu centro de trabajo.
                    </p>
                </div>
                <a class="mt-5 rounded-0 py-3 px-5 btn btn-lg btn-dark upper-letters" href="muebles-especiales">ver <span class="primary-color">catálogo</span></a>
            </div>
            <div class="col-md-5 px-0">
                <div class="row">
                    <div class="col-6 px-0" style="background-color:rgba(56,52,49,1);">
                        <div class="row mx-0">
                            <img src="https://www.silieri.com/images/landing/catalogo/silieri-sillas-sofas.png" class="img-fluid w-100 h-100" alt="Imagen Sección de Muebles">
                        </div>
                        <div class="row mb-5 mx-0">
                            <h1 class="ml-3 w-100 text-left text-white font-weight-light" style="margin-top: -10% !important;">Sillas y Sofás</h1>
                        </div>
                    </div>
                    <div class="col-6 px-0">
                        <img src="https://www.silieri.com/images/productos/BANCA%20METALICA.jpg" class="img-fluid w-100 h-100" alt="Imagen Sección de Muebles">  
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 px-0">
                        <img src="https://www.silieri.com/images/productos/CAJA%20CONTACTOS%20ACENTO.jpg" class="img-fluid w-100 h-100" alt="Imagen Sección de Muebles">
                    </div>
                    <div class="col-6 px-0" style="background-color:rgba(56,52,49,1);">
                        <div class="row mx-0">
                            <img src="https://www.silieri.com/images/landing/catalogo/silieri-mesas-escritorios.png" class="img-fluid w-100 h-100" alt="Imagen Sección de Muebles">
                        </div>
                        <div class="row mb-5 mx-0">
                            <h1 class="ml-3 w-100 text-left text-white font-weight-light" style="margin-top: -10% !important;">Mesas y Escritorios</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>