<div class="banner-main <?php echo $page ?>">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbar-transparent">
        <div itemscope itemtype="http://schema.org/Brand" class="d-flex flex-grow-1">
            <a itemprop="url" class="navbar-brand ml-5" href="<?php echo $httpProtocol.$host.$url?>" id="navbar-logo">
                <img itemprop="logo" src="<?php echo $httpProtocol.$host.$url ?>img/grupo_cob_logo.png" alt="Imagen Logo Header Grupo COB">
            </a>
            <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
            <div class="w-100 text-right">
                <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggle-mobile">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbar-toggle-mobile">
            <div class="container">
                <div class="row">
                    <p class="d-block ml-auto mb-0"><i class="fas fa-phone"></i> 442 480 7450</p>
                </div>
                <div class="row">
                    <ul class="navbar-nav ml-auto flex-nowrap" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li class="nav-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemprop="item" class="nav-link text-uppercase" href="<?php echo $httpProtocol.$host.$url ?>nosotros.php">
                                <span class="main-link" itemprop="name">Nosotros</span> <span class="d-none d-lg-inline">|</span>
                                <meta itemprop="position" content="1"/>
                            </a>
                        </li>
                        <li class="nav-item dropdown" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemprop="item" class="nav-link text-uppercase dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="main-link" itemprop="name">Servicios</span></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="<?php echo $httpProtocol.$host.$url ?>arquitectura.php">Arquitectura</a>
                                <a class="dropdown-item" href="<?php echo $httpProtocol.$host.$url ?>ingenieria.php">Ingeniería</a>
                                <a class="dropdown-item" href="<?php echo $httpProtocol.$host.$url ?>bim.php">BIM</a>
                                <a class="dropdown-item" href="<?php echo $httpProtocol.$host.$url ?>construccion.php">Construcción</a>
                            </div>
                            <meta itemprop="position" content="2"/>
                        </li>
                        <li class="nav-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemprop="item" class="nav-link text-uppercase" href="<?php echo $httpProtocol.$host.$url ?>casos-de-exito.php">
                                <span class="d-none d-lg-inline">| </span><span class="main-link" itemprop="name">Casos de éxito</span><span class="d-none d-lg-inline"> |</span>
                                <meta itemprop="position" content="3"/>
                            </a>
                        </li>
                        <li class="nav-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemprop="item" class="nav-link text-uppercase" href="<?php echo $httpProtocol.$host.$url ?>contacto.php">
                                <span class="main-link" itemprop="name">Contacto</span>
                                <meta itemprop="position" content="4"/>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>